<p>this is Beneficiary list</p>
<div *ngFor="let bene of beneficiaries">
  <div class="border">
      <div class="text-normal">fromCustomer: {{ bene.fromCustomer}}</div>
      <div class="text-normal">beneficiaryAcNo: {{bene.beneficiaryAcNo}}</div>
      <div class="text-normal">AddedDate: {{ bene.beneficiaryAddedDate }}</div>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Number</th>
      <th>Bank Name</th>
      <th>Approval Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beneficiary of beneficiaries">
      <td>{{ beneficiary.fromCustomer }}</td>
      <td>{{ beneficiary.beneficiaryAcNo }}</td>
      <td>{{ beneficiary.beneficiaryAddedDate }}</td>
      <td>
        <button *ngIf="beneficiary.approved!='YES'" (click)="onApproveBeneficiary(beneficiary)">Approve Beneficiary</button>
      </td>
    </tr>
  </tbody>
</table> -->
